.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel-container {
  overflow-y:auto;
}
.carousel-container > div {
  flex-shrink: 0;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
}
.carousel-item1 {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  background: #fef7f5;
}
.carousel-item2 {
  padding-left: 40px;
  padding-right: 40px;
  padding-block-start: 100px;
  padding-block-end: 100px;
}
.elementor2-content-inner {
  display: flex;
  gap: 0px 80px;
  align-items: center;
}
.elementor2-wrapper-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0px;
  padding-block-end: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
}
.elementor2-widget-image-container {
  display: flex;
  gap: 0px 20px;
  align-items: flex-end;
}
.carousel-item2 img {
  border-radius: 180px 180px 10px 10px;
}
.home-page {
  max-width: 100%;
  background-image: url(https://websitedemos.net/flower-shop-04/wp-content/uploads/sites/1414/2023/10/hero-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 40px;
  padding-right: 40px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: initial;
  border-color: initial;
}
.row-alignment {
  display: grid;
  grid-column-gap: 20px;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
.categories-details {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  line-height: 80px;
  cursor: pointer;
}
.title {
  font-size: 26px;
  text-align: left;
  font-family:'Times New Roman', Times, serif;
}
.menu {
  padding: 0 1em;
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
  list-style: none;
}
.cart-icon {
  font-size: 20px;
  text-align: end;
  color: #ff6e4e;
}
.site-content {
  min-height: 500px;
  color: white;
}
.s-con-inner {
  margin-left: 191.667px;
  margin-right: 191.667px;
  padding-block-start: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.heading-title {
  font-size: large;
  font-weight: 500;
  font-family: 'Heebo', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.element-box-title {
  font-size: 70px;
  font-weight: 500;
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
}
.element-box-description {
  font-size: 15px;
  font-weight: 500;
}

.element-button-wrapper {
  text-decoration: none;
  color: white;
}
 .element-button-text {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 18px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 30px;
  background-color: #ff6e4e;
 }
 .element-content-inner {
  display: flex;
  gap: 0px 40px;
}
.element-content-inner > div {
  width: 100%;
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #ff6e4e;
}
.elementor-widget-wrapper {
  display: flex;
  gap: 15px 15px;
  flex-direction: column;
}
.elementor-heading-title {
  margin: 0;
  text-align: start;
  font-size: 15px;
  color: #ff6e4e;
  padding-inline-start: 20px;
}
.elementor-image-box-content {
  text-align: start;
  padding-inline-start: 20px;
}
.elementor-image-box-title {
  margin: 0px;
  margin-bottom: 10px;
  font-family:'Cormorant Garamond', serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.elementor-image-box-description {
  margin: 0px;
  color: #9ba5ae;
  font-size: 16px;
}
.elementor2-widget-heading-title {
  margin: 0;
  color: #ff6e4e;
  font-size: 14px;
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-align: start;
}
.elementor2-image-box {
  text-align: start;
}
.elementor2-image-box-title {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.15em;
  margin-bottom: 20px;
}
.elementor2-image-box-description {
  margin: 0;
  color: #6b6262;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400
}
.elementor2-button-wrapper {
  text-decoration: none;
  color: white;
}
.elementor2-button-container {
  padding-top: 15px;
  text-align: start;
}
.elementor2-button-text {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 18px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 30px;
  background-color: #ff6e4e;
}
.carousel-item3 {
   padding-left: 40px;
   padding-right: 40px;
   background: #fef7f5;
}
 .elementor3-content-inner {
  padding-block-start: 100px;
  padding-block-end: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
 }
 .products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 20px;
  list-style: none;
  padding: 0px;
 }
 .products li img {
  width: 100%;
  height: auto;
 }
 .products li {
  padding-bottom: 1.2em;
  margin-bottom: 2.5em;
 }
 .individual-products {
  margin-bottom: .8em;
 }
 .woo-product-summary {
  padding-top: 10px;
  padding: 0px 1.2em;
 }
 .woo-product-category {
  font-size: 0.85em;
  margin-bottom: 0.5em;
  display: block;
  line-height: 1.3;
  opacity: .6;
 }
 .screen-reader-text {
  display: none;
 }
 .woo-product__title {
  margin: 0px;
  font-size: 22px;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.15em;
  color: #180000;
  font-weight: 700;
  margin-bottom: .5em;
  padding: 0;
  text-align:center
 }
 .woo-loop-product__link {
  text-decoration: none;
 }
 .price bdi {
  color: #6b6262;
  font-weight: 700;
 }
 .price ins {
  text-decoration: none;
  color: #180000;
  font-weight: 700;
 }
 .carousel-item4 {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #180000;
 }
 .elementor4-content-inner {
  padding-block-start: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 0px 80px;
  align-items: center;
 }
 .elementor4-image-box {
  border-radius: 300px 300px 0 0;
 }
 .elementor4-element-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0px;
  padding-block-end: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
 }
 .elementor4-heading-title {
    color: #ff6e4e;
    margin: 0px;
    font-weight: 500;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 14px;
    text-align: left;
 }
 .elementor4-subheading-title {
  margin: 0px;
  color: white;
  font-size: 48px;
  font-weight: 500;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.15em;
  text-align: start;
  vertical-align: baseline;
 }
 .elementor4-button-container {
  padding-top: 15px;
  text-align: start;
 }
 .elementor4-button-link {
  text-decoration: none;
  color: white;
 }
 .elementor4-button-text {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 18px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 30px;
  background-color: #ff6e4e;
  font-size: 16px;
 }
 .carousel-item5 {
  padding-left: 40px;
  padding-right: 40px;
  background: #fef7f5;
}
.elementor5-content-inner {
  padding-top: 100px;
  padding-bottom: 20px;
}
.elementor5-widget-container {
  padding-top: 30px;
}
.elementor5-heading-title {
    color: #ff6e4e;
    margin: 0px;
    font-weight: 500;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 14px;
    text-align: center;
}
.carousel-item6 {
  padding-left: 40px;
  padding-right: 40px;
}
.elementor6-content-inner {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px 0px;
}
.elementor6-heading-title {
  text-align: center;
  margin: 0px;
  font-size: 14px;
  color:#ff6e4e;
  line-height: 1.5em;
  font-weight: 500;
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.elementor6-image-box-content {
  text-align: center;
}
.elementor6-image-box-title {
  margin: 0px;
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.15em;
  margin-bottom: 15px;
  color: #180000;;
}
.elementor6-image-box-description {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Heebo', sans-serif;
}
.elementor6-widget-container {
  display: flex;
  flex-direction: row;
  gap: 0px 60px;
  padding-top: 30px;
}
.elementor-star-rating__wrapper {
  text-align: center;
  justify-content: center;
}
.elementor6-container {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}
.elementor-star-rating {
  color:#ccd6df;
  font-family:eicons;
  display:inline-block
}
.elementor-star-rating i  {
  display:inline-block;
  position:relative;
  font-style:normal;
  cursor:default
}
.elementor-star-rating i:before { 
  content:"★";
  display:block;
  font-size:inherit;
  font-family:inherit;
  position:absolute;
  overflow:hidden;
  color:#f0ad4e;
  top:0;
  left:0;
}
.elementor-star-rating .elementor-star-empty:before { 
  content:none
}
.elementor-star-rating .elementor-star-1:before { 
  width:10%
}
.elementor-star-rating .elementor-star-2:before { 
  width:20%
}
.elementor-star-rating .elementor-star-3:before{ 
  width:30%
}
.elementor-star-rating .elementor-star-4:before{ 
  width:40% 
}
.elementor-star-rating .elementor-star-5:before{ 
  width:50% 
}
.elementor-star-rating .elementor-star-6:before{ 
  width:60% 
}
.elementor-star-rating .elementor-star-7:before{ 
  width:70%
}
.elementor-star-rating .elementor-star-8:before{ 
  width:80% 
}
.elementor-star-rating .elementor-star-9:before{ 
  width:90% 
}
.elementor-star-rating__wrapper{
  display:flex;
  align-items:center
}
.elementor-star-rating__title{ 
  margin-inline-end:10px
}
.elementor-star-rating--align-right .elementor-star-rating__wrapper {
  text-align:right;
  justify-content:flex-end
}
.elementor-star-rating--align-left .elementor-star-rating__wrapper { 
  text-align:left;
  justify-content:flex-start
}
.elementor-star-rating--align-center .elementor-star-rating__wrapper { 
  text-align:center;
  justify-content:center
}
.elementor-star-rating--align-justify .elementor-star-rating__title { 
  margin-inline-end:auto
}
@media (max-width:1024px){
  .elementor-star-rating-tablet--align-right .elementor-star-rating__wrapper { 
    text-align:right;
    justify-content:flex-end
  }
  .elementor-star-rating-tablet--align-left .elementor-star-rating__wrapper {
    text-align:left;
    justify-content:flex-start
  }
  .elementor-star-rating-tablet--align-center .elementor-star-rating__wrapper {
    text-align:center;
    justify-content:center
  }
  .elementor-star-rating-tablet--align-justify .elementor-star-rating__title { 
    margin-inline-end:auto
  }
}
@media (max-width:767px) {
  .elementor-star-rating-mobile--align-right .elementor-star-rating__wrapper {
    text-align:right;
    justify-content:flex-end
  }
  .elementor-star-rating-mobile--align-left .elementor-star-rating__wrapper { 
    text-align:left;
    justify-content:flex-start
  }
  .elementor-star-rating-mobile--align-center .elementor-star-rating__wrapper { 
    text-align:center;
    justify-content:center
  }
  .elementor-star-rating-mobile--align-justify .elementor-star-rating__title{ 
    margin-inline-end:auto
  }
}
.last-star{
  letter-spacing:0
}
.elementor--star-style-star_unicode .elementor-star-rating { 
  font-family:Arial,Helvetica,sans-serif
}
.elementor--star-style-star_unicode .elementor-star-rating i:not(.elementor-star-empty):before{
  content:"★"
}
.elementor6-testimonial-content {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  color: #808285;
  line-height: 1.5em;
}
.elementor-testimonial-meta-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.elementor-testimonial-meta-inner .elementor-testimonial-image img {
  width: 46px;
  height: 46px;
}
.elementor-testimonial-image {
  padding-inline-end: 15px;
}
.elementor6-attachment-image {
  border-radius: 50%;
}
.elementor-testimonial-details {
  color: #808285;
  text-align: start;
}
.elementor-testimonial-name {
  color: #180000;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  line-height: 30px;
}
.elementor-testimonial-job {
  font-size: 13px;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  line-height: 13.6px
}
.carousel-item7 {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #180000;
}
.elementor7-content-inner {
  padding-block-start: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 0px 80px;
  align-items: center;
 }
 .elementor7-image-box img {
  border-radius: 300px 300px 0 0;
 }
 .elementor7-element-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0px;
  padding-block-end: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
 }
 .elementor7-heading-title {
    color: #ff6e4e;
    margin: 0px;
    font-weight: 500;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 14px;
    text-align: left;
 }
 .elementor7-subheading-title {
  margin: 0px;
  color: white;
  font-size: 48px;
  font-weight: 500;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.15em;
  text-align: start;
  vertical-align: baseline;
 }
 .elementor7-button-container {
  padding-top: 15px;
  text-align: start;
 }
 .elementor7-button-link {
  text-decoration: none;
  color: white;
 }
 .elementor7-button-text {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 18px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 30px;
  background-color: #ff6e4e;
  font-size: 16px;
 }
 .footer-details-flowers-shop {
   display: grid;
   grid-template-columns: 2fr 1fr 1fr;
   text-align: start;
   grid-column-gap: 60px;
   padding-top: 60px;
   padding-bottom: 60px;
   padding-left: 40px;
   padding-right: 40px;
 }
 .wp-heading {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.15em;
 }
 .widget-text {
  color: rgb(107, 98, 98);
  display: block;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px;
  margin-bottom: 28px;
 }
 .navigation-menu {
  display: grid;
  list-style-type: none;
  text-align: start;
  padding: 0;
  margin: 0;
  line-height: 25px;
 }
 .navigation-menu li a {
  text-decoration: none;
  cursor: pointer;
  color: #6b6262;
 }
 .wp-list {
  display: grid;
  list-style-type: none;
  text-align: start;
  padding: 0;
  margin: 0;
  line-height: 25px;
 }
 .wp-list li {
  color: #6b6262;
 }
 .copyright-flower-shop {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  border-top: 1px solid #e2e8f0;
  display: grid;
  grid-template-columns: repeat( 2, 1fr);
  grid-column-gap: 50px;
  text-align: left;
 }
 .footer-social-inner-wrap {
  width: 20px;
 }
 .productlist-product {
  padding-left: 40px;
  padding-right: 40px;
  padding-block-start: 100px;
  padding-block-end: 100px;
 }
 .product-alignment {
  display: flex;
  gap: 0px 80px;
  align-items:  center;
 }
 .summary-product {
  text-align: start;
 }
 .price {
  font-size: 20px;
 }
 .summary-product .price {
  display: inline-block;
  color: gray;
 }
 .product-details-description {
  color: gray;
  font-size: 15px;
 }
 .single-add-to-cart-button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #ff6e4e;
  border-color: #ff6e4e;
  padding: 10px 20px;
  border-style: solid;
  color: #FFFFFF
 }
 .summary-product span {
  color: gray
 }
 .text-link {
  text-decoration: none;
 }